.container {
    background-color: white;
}
.nav {
    display: flex;
    justify-content: space-evenly;
    height: 20%;
    align-items: center;
}
.tm {
    position: absolute;
    left: 3%;
}
.navTrip{
    flex-direction: row;
    display: flex;
    align-items: center;
    margin: 0 30px;
}
.icon {
    margin-left: 5px;
}

.leftNav {
    position: absolute;
    right: 3%;
    display: flex;
}
.serachC {
    display: flex;
    flex-direction: row;
}
.buttonList {
    display: flex;
    justify-content: center;
}